{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}    <!-- #  security tag  -->
                {{ login_form.as_p }}   <!-- #  template inheritance -->
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
