{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if user_tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in user_tasks %}
                    <tr>
                        <td>{{ list.name }}</td>
                        <td>{{ list.start_date }}</td>
                        <td>{{ list.due_date }}</td>
                        <td>{{ list.is_completed|yesno:"yes, no" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
